.form-group {
  margin-bottom: 1.5rem;
}

nb-card {
  margin-bottom: 0;
}

nb-select {
  width: 100%;
}

.mt-4 {
  margin-top: 1.5rem;
}

h5 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
} 